<div class="entry-container">
  <% @entries.each do |entry| %>
    <%= render 'entry', entry: entry %>
  <% end %>
  <div class="navigation">
    <%= link_to '<<', entry_path(@entries.last) unless @entry == @entries.first %>
    <%= link_to '>>', entry_path(@entries.second) unless @entry == @entries.last %>
  </div>
</div>
<%= link_to 'Neuer Eintrag', new_entry_path %>